<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                     </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>We are a fully independent Shipbrokers firm, focusing on long term projects with our Clients. <br>
                        With over 20 years experience in the Maritime industry, the management is geared and connected to provide your upmost quality services in your Tankers shipping needs. Contact, advice, guide, conclude and follow-up.<br>
                        Long term experience in the small tankers and chemicals market industry we work on vessels’ Chartering, Small Tankers Sale and Purchase, vessels and cargoes Insurance or Consulting works related to the tanker, oil or chemical market..</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="text-center">Mission</h3>
                    <p>Our company aims to provide a Taylor Made service to our Clients, embracing all their needs in Maritime transportation. </p>    
                </div>
                <div class="col-lg-6">
                    <h3 class="text-center">Value</h3>
                    <p>We provide transparent information to our clients as partner, in order to guide them in full integrity and reliability.</p>    
                </div>
            </div>
        </div>
    </section>