<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                     </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>Searider Services is a fully independent boutique shipbroker firm with a focus on long-term, made-to-measure projects and enduring working relationships with our clients. </p>
                    <p>Our founder, Henri Barnouin, has more than 20 years of experience in the maritime industry and brings his expertise and contacts to each of our clients, ensuring the highest quality of service for all your <strong>tanker shipping needs</strong>. The end-to-end service includes contact, advice, guidance, conclusion and follow-up.</p>
                    <p>With long-term experience in the small tankers and chemicals market industry, Searider Services specialises in <strong>Vessel Chartering</strong> and also works on the <strong>Sale and Purchase</strong> of small tankers, vessel and cargoes <strong>Insurance</strong>, as well as <strong>Consultancy related to the tanker, oil and chemical markets</strong>.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="text-center">Mission</h3>
                    <p>We aim to provide tailor-made services to our clients, taking care of all their maritime transportation needs.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="text-center">Values</h3>
                    <h4>Integrity</h4>
                    <ul>
                        <li>
                            Searider Services works in partnership with our clients, providing them with transparent, trustworthy information every step of the way and guiding them with complete integrity.
                        </li>
                    </ul>

                    <h4>Safety</h4>
                    <ul>
                        <li>
                            Whilst negotiating contracts we anticipate any possible problems and ensure all safety measures for the crew, the vessel and cargoes are taken.
                        </li>
                        <li>
                            We pay utmost attention to safety aspects by anticipating any operational issues for all parties in order to make sure they are avoided. The life and wellbeing of the seafarer is at the front and centre of our priorities.
                        </li>
                    </ul>

                    <h4>Security</h4>
                    <ul>
                        <li>
                            We have an ongoing commitment to anti-piracy measures, and have more recently adapted to the challenges that come with the Covid-19 pandemic.
                        </li>
                        <li>
                            In addition to standard clauses, we also propose custom wording procedures and extra measures to prevent cargo contamination.
                        </li>
                    </ul>

                    <h4>Environment</h4>
                    <ul>
                        <li>
                            We are committed to a business approach that is respectful of the environment: protecting seas, oceans and the air is one of our major concerns. Not only do we consider this to be important for our clients’ reputation, but it is also an essential part of our company DNA.
                        </li>
                        <li>
                            We ensure vessels and operational procedures comply with regulatory obligations (air pollution regulation, ballast water treatment systems) and we can also  assist with additional guidelines for preventing pollution.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>