<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <address>
                    SEARIDER SERVICES SAS<br>
                    930 route des Dolines<br>
                    06560 Sophia-Antipolis<br>
                    France<br>
                    <a href="tel:+13115552368">+33 782938251</a><br>
                </address>
            </div>
            <div class="col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23659688.854510915!2d-10.891184019733826!3d43.62432817912225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12cc2bbadbf95e77%3A0x4312484816b79d21!2s930%20Route%20des%20Dolines%2C%2006560%20Valbonne!5e0!3m2!1sen!2sfr!4v1576236279653!5m2!1sen!2sfr" width="450" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>                </div>
        </div>
    </div>
</section>
