<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Meet the director</h2>
                    <h3 class="section-subheading text-muted">
                        “I strive to use my industry experience to enable modern shipbrokers to have a clear and realistic appraisal of shipowners’ minimum requirements, allowing us to achieve a deal that benefits all parties.”                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                    </div>
                </div>
                {% endfor %}
                <div class="col-sm-4"></div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Henri Barnouin has over 20 years of shipping experience, having worked in leadership positions as a shipbroker and a shipowner in France, the United Kingdom, Singapore and India.</p>

                    <p class="large text-muted">Henri studied shipping in France and the UK, and became a Member of the Institute of Chartered Shipbrokers. He holds a BSC(Hons) in Maritime Transportation and an MBA degree.</p>
                            
                    <p class="large text-muted">He is specialised in small tanker chartering and has built an extensive network of high-ranking professionals. His contacts span tanker shipowners and charterers, including major oil companies, who entrust Searider Services with their chartering needs.</p>
                </div>
            </div>
        </div>
    </section>